@model List<Category>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Categories Table</h3>
        <a asp-controller="Category" asp-action="AddCategory" class="btn btn-primary">
            + New Category
        </a>


    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th style="width: 10px">#</th>
                    <th>Name</th>
                    <th>CreatedAt</th>
                </tr>
            </thead>
            <tbody>
                @foreach(var category in Model)
                {
                  <tr>
                      <td>@category.Id</td>
                      <td>@category.Name</td>
                      <td>@category.CreatedAt</td>
                  </tr>  
                }
            </tbody>
        </table>
    </div>
</div>